.easy-checkout {

  .checkout-actions {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .input-btn {
      margin-right: 10px;

      @include media-breakpoint-down(xs) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
